<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.security.mapper.CommUserMapper">
    <select id="findCommUserByEmail" parameterType="homes.security.vo.LoginRequestVo" resultType="homes.security.vo.CommUserVo">
    	SELECT /* homes.security.mapper.CommUserMapper.findCommUserByEmail 이메일로 사용자 정보조회 */
    	       USER_NO            /* 사용자_번호 */  
    	       , EMAIL            /* 이메일 */ 
    	       , USER_NM          /* 사용자_명 */ 
    	       , USER_ROLE        /* 사용자_업무_권한 */ 
		       , USER_STTUS       /* 사용자_상태 */
		       , FRST_SBSCRB_DT   /* 최초_가입_일시 */
		       , LAST_LOGIN_DT    /* 최종_로그인_일시 */
		       , PASSWORD_CHG_DT  /* 비밀번호_변경_일시 */
		       , LOGIN_FAILR_CO   /* 로그인_실패_회수 */
		       , LOGIN_TY         /* 로그인_유형 */
		       , IF_USER_ID       /* 로그인 API 사용자 ID */ 
		FROM   TB_CM_COMMUSER
		WHERE  EMAIL = #{email}
		AND    PASSWORD = PASSWORD(#{password}) ; 
    </select>
    
    <select id="findCommUserByUserNo" parameterType="string" resultType="homes.security.vo.CommUserVo">
    	SELECT /* homes.security.mapper.CommUserMapper.findCommUserByUserNo 사용자번호로 사용자 정보조회 */
    	       USER_NO            /* 사용자_번호 */  
    	       , EMAIL            /* 이메일 */ 
    	       , USER_NM          /* 사용자_명 */ 
    	       , USER_ROLE        /* 사용자_업무_권한 */ 
		       , USER_STTUS       /* 사용자_상태 */
		       , FRST_SBSCRB_DT   /* 최초_가입_일시 */
		       , LAST_LOGIN_DT    /* 최종_로그인_일시 */
		       , PASSWORD_CHG_DT  /* 비밀번호_변경_일시 */
		       , LOGIN_FAILR_CO   /* 로그인_실패_회수 */
		       , LOGIN_TY         /* 로그인_유형 */
		       , IF_USER_ID       /* 로그인 API 사용자 ID */ 
		FROM   TB_CM_COMMUSER
		WHERE  USER_NO = #{userNo}
    </select>
    
</mapper>
