<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.security.mapper.CommUserMapper">
    <select id="findCommUserByEmail" parameterType="homes.security.vo.LoginRequestVo" resultType="homes.security.vo.CommUserVo">
    	SELECT /* homes.security.mapper.CommUserMapper.findCommUserByEmail 이메일로 사용자 정보조회 */
    	       USER_NO            /* 사용자_번호 */  
    	       , EMAIL            /* 이메일 */ 
    	       , USER_NM          /* 사용자_명 */ 
    	       , USER_ROLE        /* 사용자_업무_권한 */ 
		       , USER_STTUS       /* 사용자_상태 */
		       , FRST_SBSCRB_DT   /* 최초_가입_일시 */
		       , LAST_LOGIN_DT    /* 최종_로그인_일시 */
		       , PASSWORD_CHG_DT  /* 비밀번호_변경_일시 */
		       , LOGIN_FAILR_CO   /* 로그인_실패_회수 */
		       , LOGIN_TY         /* 로그인_유형 */
		       , IF_USER_ID       /* 로그인 API 사용자 ID */ 
		       , ''               AS ARCODE /* 사용자는 지역코드가 없음 */
		FROM   TB_CM_COMMUSER
		WHERE  EMAIL = #{email}
		AND    PASSWORD = PASSWORD(#{password}) 
    </select>
    
    <select id="isExistUserByEmail" parameterType="string" resultType="string">
    	SELECT /* homes.security.mapper.CommUserMapper.isExistUserByEmail 동일한 사용자가 있는지 확인 */
		       CASE WHEN COUNT(USER_NO) = 0 THEN 'N' ELSE 'Y' END AS EXIST_YN
		FROM   TB_CM_COMMUSER
		WHERE  EMAIL = #{email} 
    </select>
    <select id="isExistUserByCttpc" parameterType="string" resultType="string">
    	SELECT /* homes.security.mapper.CommUserMapper.isExistUserByEmail 동일한 사용자가 있는지 확인 */
		       CASE WHEN COUNT(USER_NO) = 0 THEN 'N' ELSE 'Y' END AS EXIST_YN
		FROM   TB_CM_COMMUSER
		WHERE  CONCAT(MBLE_CTTPC_01, MBLE_CTTPC_02, MBLE_CTTPC_03) = #{mblecttpc} 
    </select>
    
    <select id="findCommUserByUserNo" parameterType="long" resultType="homes.security.vo.CommUserVo">
    	SELECT /* homes.security.mapper.CommUserMapper.findCommUserByUserNo 사용자번호로 사용자 정보조회 */
    	       USER_NO            /* 사용자_번호 */  
    	       , EMAIL            /* 이메일 */ 
    	       , USER_NM          /* 사용자_명 */ 
    	       , USER_ROLE        /* 사용자_업무_권한 */ 
		       , USER_STTUS       /* 사용자_상태 */
		       , FRST_SBSCRB_DT   /* 최초_가입_일시 */
		       , LAST_LOGIN_DT    /* 최종_로그인_일시 */
		       , PASSWORD_CHG_DT  /* 비밀번호_변경_일시 */
		       , LOGIN_FAILR_CO   /* 로그인_실패_회수 */
		       , LOGIN_TY         /* 로그인_유형 */
		       , IF_USER_ID       /* 로그인 API 사용자 ID */  
		       , CONCAT(MBLE_CTTPC_01, '-', MBLE_CTTPC_02, '-', MBLE_CTTPC_03) AS MOBILENO
		       , ''     AS ARCODE
		FROM   TB_CM_COMMUSER
		WHERE  USER_NO = #{userNo}
    </select>
    
    <select id="selectHomesUserCount" parameterType="homes.project.vo.ProjectReqVo" resultType="java.lang.Long">
    	SELECT /* homes.security.mapper.CommUserMapper.selectHomesUserCount 일반사용자 페이징카운트 */
    	       COUNT(1) AS TCNT 
		FROM   TB_CM_COMMUSER      A
		LEFT   JOIN TB_CM_COMMCODE B ON A.USER_ROLE = B.MXTR_COMM_CD
		LEFT   JOIN TB_CM_COMMCODE C ON A.USER_STTUS = C.MXTR_COMM_CD 
		LEFT   JOIN TB_CM_COMMCODE D ON A.LOGIN_TY = D.MXTR_COMM_CD 
		WHERE  USER_ROLE IN ( 'MBT001', 'MBT002', 'MBT003' )
    </select>
    
    <select id="selectHomesUser" parameterType="homes.project.vo.ProjectReqVo" resultType="commonMap">
    	SELECT /* homes.security.mapper.CommUserMapper.selectHomesUser 일반사용자 정보조회 */
    	       USER_NO                                              AS USERNO /* 사용자_번호 */  
    	       , EMAIL                                              AS EMAIL  /* 이메일 */ 
    	       , USER_NM                                            AS USERNM /* 사용자_명 */ 
    	       , USER_ROLE                                          AS USERTY /* 사용자_업무_권한 */ 
    	       , B.CODE_NM                                          AS USERTYNM
		       , USER_STTUS                                         AS USERSTTUS /* 사용자_상태 */
		       , C.CODE_NM                                          AS USERSTTUSNM
		       , DATE_FORMAT(FRST_SBSCRB_DT, '%Y.%m.%d %H:%m:%s')   AS FRSTSBSCRBDT/* 최초_가입_일시 */
		       , DATE_FORMAT(LAST_LOGIN_DT, '%Y.%m.%d %H:%m:%s')    AS LASTLOGNDT /* 최종_로그인_일시 */
		       , DATE_FORMAT(PASSWORD_CHG_DT , '%Y.%m.%d %H:%m:%s') AS PASSWORDCHGDT /* 비밀번호_변경_일시 */
		       , LOGIN_FAILR_CO                                     AS LGINFAILCO/* 로그인_실패_회수 */
		       , LOGIN_TY                                           AS LOGNTY /* 로그인_유형 */
		       , CASE WHEN LOGIN_TY = 'LGT001' THEN 'Email로 로그인' 
		              WHEN LOGIN_TY = 'LGT002' THEN 'KAKAO 로그인'
		              WHEN LOGIN_TY = 'LGT003' THEN 'NAVER 로그인'
		              ELSE '기타 로그인'
		         END                                                AS LOGNTYNM
		       , IF_USER_ID                                         AS IFUSERID /* 로그인 API 사용자 ID */ 
		FROM   TB_CM_COMMUSER      A
		LEFT   JOIN TB_CM_COMMCODE B ON A.USER_ROLE = B.MXTR_COMM_CD
		LEFT   JOIN TB_CM_COMMCODE C ON A.USER_STTUS = C.MXTR_COMM_CD 
		LEFT   JOIN TB_CM_COMMCODE D ON A.LOGIN_TY = D.MXTR_COMM_CD  
		WHERE  USER_ROLE IN ( 'MBT001', 'MBT002', 'MBT003' )
		LIMIT  #{stno}, #{edno}
    </select>
    
    <update id="updateUserLogininfo" parameterType="homes.security.vo.UpdateLoginInfoReqVo">
    	UPDATE TB_CM_COMMUSER /* homes.security.mapper.CommUserMapper.updateUserLogininfo 사용자 로그인정보 조회 */
    	SET    LAST_LOGIN_DT = now() 
    	       , ACCESS_TOKEN = #{accessToken}
		WHERE  USER_NO = #{userNo}
    </update>
    
    <select id="selectLastid" parameterType="long" resultType="long">
    	SELECT /* homes.security.mapper.CommUserMapper.selectLastid */
		       LAST_INSERT_ID()
		FROM   DUAL 
    </select>
    
    <select id ="getLastUserno" parameterType="homes.comm.vo.CommUserReqVo" resultType="java.lang.Long">
    	SELECT /* homes.security.mapper.CommUserMapper.getLastUserno */
    	       USER_NO AS USERNO 
    	FROM   TB_CM_COMMUSER
    	WHERE  EMAIL = #{email}
    </select>
    
    <insert id="insertCommuser" parameterType="homes.comm.vo.CommUserReqVo">
    	INSERT INTO TB_CM_COMMUSER (
			/* homes.security.mapper.CommUserMapper.insertCommuser */
			EMAIL
			, PASSWORD
			, USER_NM
			, USER_ROLE
			, USER_STTUS
			, BIRTH
			, GNDR
			, CCB_CD
			, MBLE_CTTPC
			, MBLE_CTTPC_01
			, MBLE_CTTPC_02
			, MBLE_CTTPC_03
			, MBLE_CERTNO
			, MBLE_CERT_DT
			, FRST_SBSCRB_DT
			, PASSWORD_CHG_DT
			, LOGIN_FAILR_CO
			, LOGIN_TY
			, AGRE_YN
			, AGRE_DT
			, CREAT_USER_NO
			, CREAT_DT
			, UPDT_USER_NO
			, UPDT_DT
		) VALUES (
			#{email}
			, PASSWORD(#{password})
			, #{usernm}
			, #{userRole}
			, #{userSttus}
			, #{birth}
			, #{gndr}
			, #{ccbCd}
			, PASSWORD(#{mbleCttpc})
			, #{mbleCttpc01}
			, #{mbleCttpc02}
			, #{mbleCttpc03}
			, #{mbleCertno}
			, NOW()
			, NOW()
			, NOW()
			, 0
			, #{loginTy}
			, #{agreYn}
			, NOW()
			, 0
			, NOW()
			, 0
			, NOW()
		)
    </insert>
    
</mapper>
