<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.broker.mapper.BrokerStuffMapper">
	<select id="selectPublicHouseList" parameterType="homes.broker.vo.BrokerStuffVo" resultType="commonMap">
		SELECT /* homes.broker.mapper.BrokerPublicMapper.selectPublicHouseList 중개사 단지물건 목록조회 */
		       MST.HTBDNO
		       , MST.BULD_REGSTR_PK
		       , MST.BULDGB
		       , MST.CPLX_AT
		       , NVL(STF.OFFICENO,   0) AS OFFICENO 
		       , NVL(STF.BRKNO   ,   0) AS BRKNO 
		       , NVL(STF.CUSTNO  ,   0) AS CUSTNO
		       , NVL(STF.SFSTTUS , 'N') AS SFSTTUS 
		       , NVL(STF.HPPSCD  , MST.HPPSCD) AS HPPSCD
		       , ( SELECT CODE_NM FROM   TB_CM_COMMCODE 
		           WHERE  GRP_CD = 'HPS'
		           AND    MXTR_COMM_CD = NVL(STF.HPPSCD  , MST.HPPSCD)) AS HPPSNM
		       , MST.BULDNM
		       , MST.BULDCO
		       , MST.PPSCD
		       , PPS.PPS_NM
		       , MST.HPPSCD
		       , MST.PPSETCNM 
		       , MST.HSHLDCO, MST.FMLYCO
		       , MST.ARCD, MST.LEGCD, MST.BUNJIB, MST.BUNJIJ
		       , MST.BDADDR, MST.RDADDR 
		       , DATE_FORMAT(STF.CREAT_DT, '%Y.%m.%d') AS CRDE
		FROM   TB_HBD_LEDGR_MSTR         MST
		INNER  JOIN TB_CM_REGSTR_PPSCODE PPS ON MST.PPSCD   = PPS.PPS_CD
		LEFT   JOIN TB_BRK_BULD_STUFF    STF ON ( MST.HTBDNO = STF.HTBDNO 
		                                          AND STF.OFFICENO = #{officeno} 
		                                          AND STF.BRKNO = #{brkno} ) 
		WHERE  ARCD = #{arcd}
		AND    LEGCD = #{legcd} 
		AND    BULDGB = #{buldgb} 
		AND    MST.PPSCD = '02000' /* 공동주택만 조회 */
		AND    BULDNM != '' /* 건물명 없는것들 일단 제외함 */
		AND    INSTR(PPSETCNM, '다세대') = 0 
		AND    MST.HSHLDCO <![CDATA[ > ]]> 14 /* 15세대 이상 */ 
		ORDER  BY NVL(OFFICENO, 0) DESC, MST.BULDNM
	</select>
	
	<insert id="insertBrokerStuff" parameterType="homes.broker.vo.BrokerStuffVo">	
		INSERT /* homes.broker.mapper.BrokerPublicMapper.insertBrokerStuff 중개사 단지물건 추가 */
		INTO   TB_BRK_BULD_STUFF (
			STUFFNO, OFFICENO, BRKNO, HTBDNO, SFSTTUS, HPPSCD, CREAT_USER_NO, UPDT_USER_NO
		) VALUES (
			FN_GET_STUFFNO(#{officeno}, #{buldgb}, #{arcd}, #{hppscd})
			, #{officeno}
			, #{brkno}
			, #{htbdno}
			, #{sfsttus}
			, #{hppscd}
			, #{brkno}
			, #{brkno}
		) 
	</insert>
	
</mapper>
