<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
	<settings>
    	<!-- snake to camel -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="homes.comm.vo.CommonMap" alias="commonMap" />
		<typeAlias type="homes.comm.vo.CommReqVo" alias="commVo" />
		<typeAlias type="homes.comm.vo.FileVo" alias="fileVo" />
		<typeAlias type="homes.popup.vo.PopCommReqVo" alias="popVo" />
	</typeAliases>
	
    <mappers>
        <mapper resource="mapper/auth/commuser-mapper.xml"/>
        <mapper resource="mapper/popup/popup-mapper.xml"/>
        <mapper resource="mapper/common/common-mapper.xml"/>
        <mapper resource="mapper/broker/broker-mapper.xml"/>
    </mappers>
</configuration>