<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>	
	<typeAliases>
		<typeAlias type="homes.comm.vo.CommonMap" alias="commonMap" />
		<typeAlias type="homes.comm.vo.CommReqVo" alias="commVo" />
		<typeAlias type="homes.comm.vo.CommCodeVo" alias="codeVo" />
		<typeAlias type="homes.comm.vo.FileVo" alias="fileVo" />
		<typeAlias type="homes.popup.vo.PopCommReqVo" alias="popVo" />
	</typeAliases>
	
    <mappers>
        <mapper resource="mapper/auth/commuser-mapper.xml"/>
        <mapper resource="mapper/popup/popup-mapper.xml"/>
        <mapper resource="mapper/common/common-mapper.xml"/>
        <mapper resource="mapper/common/common-code-mapper.xml"/>
        <mapper resource="mapper/broker/broker-mapper.xml"/>
        <mapper resource="mapper/manager/manager-mapper.xml"/>
        <mapper resource="mapper/system/system-mapper.xml"/>
        <mapper resource="mapper/complex/complex-mapper.xml"/>
        <mapper resource="mapper/batch/batch-mapper.xml"/>
        <mapper resource="mapper/batch/batch-titleLedgr-mapper.xml" />
    </mappers>
</configuration>