<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss}| %-5.5p|%-30.30C::%-30.30M:%-5.5L| %msg%n</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        <RollingFile name="RollingFileAppender"  fileName="./log/${name}.log"
                     filePattern="./log/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_%d{yyyyMMddHH}.log">
            <PatternLayout>
                <!-- 날짜, 로그 레벨, 로거 이름, 라인 번호, 메시지 등의 정보를 포함합니다. -->
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- interval=1 (매일), modulate=true (정각) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10000"/>
        </RollingFile>
    </Appenders>


    <Loggers>
        <Logger name="jdbc.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <Logger name="jdbc.sqlonly" level="OFF" additivity="false" />
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false" />
        <Logger name="org.springframework" level="DEBUG" additivity="false" />
        <Logger name="jdbc.resultsettable" level="DEBUG" additivity="false" />
        <Logger name="jdbc.audit" level="OFF" additivity="false"/>
        
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
        
    </Loggers>
</Configuration>