<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.batch.mapper.BatchMapper">
	<select id="selectBatchJobListCount" parameterType="homes.batch.vo.BatchReqVo" resultType="java.lang.Long">
		SELECT /* homes.batch.mapper.BatchMapper.selectBatchJobListCount */
		        COUNT(1) AS T_CNT
		FROM   TB_CM_BATCHJOB 
		WHERE  DATE_FORMAT(BT_ST_DT, '%Y%m%d') <![CDATA[ >= ]]> #{btstDe}
	</select>
	
	<select id="selectBatchJobList" parameterType="homes.batch.vo.BatchReqVo" resultType="commonMap">
		SELECT /* homes.batch.mapper.BatchMapper.selectBatchJobList */
		       BATCHNO                                      AS BATCHNO
		       , BT_UUID                                    AS UUID
		       , BATCHTY                                    AS BATCH_TY
		       , BT_STTUS_CD                                AS BT_STTUSCD
		       , DATE_FORMAT(BT_ST_DT, '%Y.%m.%d %H:%i:%s') AS BTST_DT
		       , DATE_FORMAT(BT_ED_DT, '%Y.%m.%d %H:%i:%s') AS BTED_DT   
		       , NVL(BT_EXCO, 0)                            AS BT_EXCO
		       , BT_FILENM                                  AS BT_FILENM
		       , BT_ERROR_MSG                               AS BT_ERRORMSG
		FROM   TB_CM_BATCHJOB 
		WHERE  DATE_FORMAT(BT_ST_DT, '%Y%m%d') <![CDATA[ >= ]]> #{btstDe}
		ORDER  BY BATCHNO DESC
		LIMIT  #{stno}, #{edno}
	</select>
	
	<!-- 건측믈데징-기본개요 등록 -->
	<insert id="insertBaseSummry" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertBaseSummry 기본개요 등록 */
		INTO   TB_BD_BASESUMMRY_ORIGIN (
			   MNGR_REGSTR_PK, UPPER_REGSTR_PK, REGSTR_GB_CD, REGSTR_GB_NM, REGSTR_KD_CD, REGSTR_KD_NM
		       , PLOT_LOC, RDNM_PLOT_LOC, BULD_NM
		       , ARCD, LEGCD, PLOT_GB_CD, BUN, JI, SP_PLOT_NM
		       , BLOCK, LOT, OUT_LOT_CO
		       , NW_ADDR_ROAD_CD, NW_ADDR_LEG_CD, NW_ADDR_GRND_CD, NW_ADDR_MAIN_B, NW_ADDR_SUB_B
		       , ZONE_CD, DISTRICT_CD, AREA_CD, ZONE_CD_NM, DISTRICT_CD_NM, AREA_CD_NM
		       , CREAT_DE, BATCH_YN
		) VALUES (
		       #{mngrRegstrPk}, #{upperRegstrPk}, #{regstrGbCd}, #{regstrGbNm}, #{regstrKdCd}, #{regstrKdNm}
		       , #{plotLoc}, #{rdnmPlotLoc}, #{buldNm}
		       , #{arcd}, #{legcd}, #{plotGbCd}, #{bun}, #{ji}, #{spPlotNm}
		       , #{block}, #{lot}, #{outLotCo}
		       , #{nwAddrRoadCd}, #{nwAddrLegCd}, #{nwAddrGrndCd}, #{nwAddrMainB}, #{nwAddrSubB}
		       , #{zoneCd}, #{districtCd}, #{areaCd}, #{zoneCdNm}, #{districtCdNm}, #{areaCdNm}
		       , #{creatDe}, #{batchYn}
		) 
	</insert>
	
	<!-- 건축물관리대장-총괄표제부 삭제 -->
	<delete id="deleteTotalTitleLedgr" parameterType="string">
		DELETE /* homes.batch.mapper.BatchMapper.deleteTotalTitleLedgr */
		FROM   TB_BD_TOTAL_TITLLEDGR
		WHERE  BULD_REGSTR_PK = #{pkBuldRegstr}
	</delete>
	
	<!-- 건축물관리대장-총괄표제부 등록 -->
	<insert id="insertTotalTitleLedgr" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertTotalTitleLedgr 총괄표제부 등록 */
		INTO   TB_BD_TOTAL_TITLLEDGR (
			BULD_REGSTR_PK, REGSTR_GB_CD, REGSTR_GB_NM, REGSTR_KD_CD, REGSTR_KD_NM, NW_OD_GB_CD
			, NW_OD_GB_NM, PLOT_LOC, RDNM_PLOT_LOC, BULD_NM, ARCD, LEGCD, PLOT_GB_CD, BUN, JI
			, SP_PLOT_NM, BLOCK, LOT, OUT_LOT_CO, NW_ADDR_ROAD_CD, NW_ADDR_LEG_CD
			, NW_ADDR_GRND_CD, NW_ADDR_MAIN_B, NW_ADDR_SUB_B, PLOT_AR, BULD_AR
			, BULD_LND_RT, TOTAL_AR, BULK_CALC_TOT_AR, BULK_RT
			, MAIN_PPS_CD, MAIN_PPS_CD_NM, ETC_PPS, HSHLD_CO, FMLY_CO, MAIN_BULD_CO
			, SUB_BULD_CO, SUB_BULD_AR, TOT_PARKNG_CO, IN_MECHA_CO, IN_MECHA_AR
			, OUT_MECHA_CO, OUT_MECHA_AR, IN_INDPNT_CO, IN_INDPNT_AR
			, OUT_INDPNT_CO, OUT_INDPNT_AR, PRMISS_DE, STWK_DE, USE_CONF_DE
			, PRMISS_NO_YYYY, PRMISS_NO_ORG_CD, PRMISS_NO_ORG_NM
			, PRMISS_NO_GB_CD, PRMISS_NO_GB_NM, UNIT_CO, ENERGY_EFCNY_GRAD
			, ENERGY_REDCN_RT, ENERGY_EPI_SCR, ECO_BULD_GRAD, ECO_BULD_SCR, BRIN_BULD_GRAD
			, BRIN_BULD_SCR, CREAT_DE
			, FST_UPLOAD_DT, FST_UPLOAD_USER_NO
			, LST_CHNG_DT, LST_CHNG_USER_NO, BATCH_YN
			, CREATE_USER_NO, CREAT_DT, UPDT_USER_NO, UPDT_DT
		) VALUES (
			#{buldRegstrPk}      /* 관리_건축물대장_PK */
			, #{regstrGbCd}      /* 대장_구분_코드 */
			, #{regstrGbNm}      /* 대장_구분_코드_명 */
			, #{regstrKdCd}      /* 대장_종류_코드 */
			, #{regstrKdNm}      /* 대장_종류_코드_명 */
			, #{nwOdGbCd}        /* 신_구_대장_구분_코드 */
			, #{nwOdGbNm}        /* 신_구_대장_구분_코드_명 */
			, #{plotLoc}         /* 대지_위치 */
			, #{rdnmPlotLoc}     /* 도로명_대지_위치 */
			, #{buldNm}          /* 건물_명 */
			, #{arcd}            /* 시군구_코드 */
			, #{legcd}           /* 법정동_코드 */
			, #{plotGbCd}        /* 대지_구분_코드 */
			, #{bun}             /* 번 */
			, #{ji}              /* 지 */
			, #{spPlotNm}        /* 특수지_명 */
			, #{block}           /* 블록 */
			, #{lot}             /* 로트(필지) */
			, #{outLotCo}        /* 외필지_수 */
			, #{nwAddrRoadCd}    /* 새주소_도로_코드 */
			, #{nwAddrLegCd}     /* 새주소_법정동_코드 */
			, #{nwAddrGndCd}     /* 새주소_지상지하_코드 */
			, #{nwAddrMstB}      /* 새주소_본_번 */
			, #{nwAddrSubB}      /* 새주소_부_번 */
			, #{plotAr}          /* 대지_면적(㎡) */
			, #{buldAr}          /* 건축_면적(㎡) */
			, #{buldLndRt}       /* 건폐_율(%) */
			, #{totalAr}         /* 연면적(㎡) */
			, #{bulkCalcTotAr}   /* 용적_률_산정_연면적(㎡) */
			, #{bulkRt}          /* 용적_률(%) */
			, #{mainPpsCd}        /* 주_용도_코드 */
			, #{mainPpsCdNm}      /* 주_용도_코드_명 */
			, #{etcPps}          /* 기타_용도 */
			, #{hshldCo}        /* 세대_수(세대) */
			, #{fmlyCo}        /* 가구_수(가구) */
			, #{mainBuldCo}       /* 주_건축물_수 */
			, #{subBuldCo}       /* 부속_건축물_수 */
			, #{subBuldAr}       /* 부속_건축물_면적(㎡) */
			, #{totParkngCo}     /* 총_주차_수 */
			, #{inMechaCo}       /* 옥내_기계식_대수(대) */
			, #{inMechaAr}       /* 옥내_기계식_면적(㎡) */
			, #{outMechaCo}      /* 옥외_기계식_대수(대) */
			, #{outMechaAr}      /* 옥외_기계식_면적(㎡) */
			, #{inIndpntCo}      /* 옥내_자주식_대수(대) */
			, #{inIndpntAr}      /* 옥내_자주식_면적(㎡) */
			, #{outIndpntCo}     /* 옥외_자주식_대수(대) */
			, #{outIndpntAr}     /* 옥외_자주식_면적(㎡) */
			, #{prmissDe}        /* 허가_일 */
			, #{stwkDe}          /* 착공_일 */
			, #{useConfDe}       /* 사용승인_일 */
			, #{prmissNoYyyy}    /* 허가번호_년 */
			, #{prmissNoOrgCd}   /* 허가번호_기관_코드 */
			, #{prmissNoOrgNm}   /* 허가번호_기관_코드_명 */
			, #{prmissNoGbCd}    /* 허가번호_구분_코드 */
			, #{prmissNoGbNm}    /* 허가번호_구분_코드_명 */
			, #{unitCo}          /* 호_수(호) */
			, #{energyEfcnyGrad} /* 에너지효율_등급 */
			, #{energyRedcnRt}   /* 에너지절감_율 */
			, #{energyEpiScr}    /* 에너지_EPI점수 */
			, #{ecoBuldGrad}     /* 친환경_건축물_등급 */
			, #{ecoBuldScr}      /* 친환경_건축물_인증점수 */
			, #{brinBuldGrad}    /* 지능형_건축물_등급 */
			, #{brinBuldScr}     /* 지능형_건축물_인증점수 */
			, #{creatDe}         /* 생성_일자 */
			, NOW() 
			, 0
			, NOW()
			, 0
			, #{batchYn}
			, 0
			, NOW()
			, 0
			, NOW()
		)
	</insert>

	<!-- 건축물관리대장-전유부입력 -->
	<insert id="insertPssionLedgr" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertPssionLedgr 전유부 등록 */
		INTO   TB_BD_PSSION_LEDGR (
		  BULD_REGSTR_PK, REGSTR_GB_CD, REGSTR_GB_NM, REGSTR_KD_CD, REGSTR_KD_NM, PLOT_LOC, RDNM_PLOT_LOC, BULD_NM
		  , ARCD, LEGCD, PLOT_GB_CD, BUN, JI, SP_PLOT_NM, BLOCK, LOT
		  , NW_ADDR_ROAD_CD, NW_ADDR_LEG_CD, NW_ADDR_GRND_CD, NW_ADDR_MAIN_B, NW_ADDR_SUB_B
		  , BLOCK_NM, HO_NM, FLOOR_GB_CD, FLOOR_GB_NM, FLOOR_NO, CREAT_DE
		) VALUES (
		  #{buldRegstrPk}
		  , #{regstrGbCd}
		  , #{regstrGbNm}
		  , #{regstrKdCd}
		  , #{regstrKdNm}
		  , #{plotLoc}
		  , #{rdnmPloLoc}
		  , #{buldNm}
		  , #{arcd}
		  , #{legcd}
		  , #{plogGbCd}
		  , #{bun}
		  , #{ji}
		  , #{spPlotNm}
		  , #{block}
		  , #{lot}
		  , #{nwAddrRoadCd}
		  , #{nwAddrLegCd}
		  , #{nwAddrGrndCd}
		  , #{nwAddrMainB}
		  , #{nwAddrSubB}
		  , #{blockNm}
		  , #{hoNm}
		  , #{floorGbCd}
		  , #{floorGbNm}
		  , #{floorNo}
		  , #{creatDe}
		)
	</insert>
	
	
	<insert id="insertBatchjob" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertBatchjob */ 
		INTO TB_CM_BATCHJOB (
			BT_UUID
			, BATCHTY
			, BT_STTUS_CD
	        , BT_EXCO 
	        , BT_FILENM 
			, BT_ERROR_MSG
			, BT_ST_DT
			, CREAT_USER_NO
			, CREAT_DT
			, UPDT_USER_NO
			, UPDT_DT
		) VALUES(
			#{uuid}
			, #{batchty}
			, #{sttuscd}
			, #{exco}
			, #{filenm}
			, #{message}
			, NOW()
			, #{mngrno}
			, NOW()
			, #{mngrno}
			, NOW()
		)
	</insert>
	
	<update id="updateBatchjob" parameterType="commonMap">
		UPDATE /* homes.batch.mapper.BatchMapper.updateBatchjob */ 
		       TB_CM_BATCHJOB
		SET    BT_STTUS_CD = #{sttuscd}
		       , BT_ED_DT = NOW()
		       , BT_EXCO = #{exco}
		       , BT_FILENM = #{filenm}
		       , BT_ERROR_MSG = #{message}
		       , UPDT_USER_NO = #{mngrno} 
		       , UPDT_DT = NOW()
		WHERE  BT_UUID = #{uuid}
	</update>
	
	<update id="updatePssionLedger" parameterType="commonMap">
		UPDATE /* homes.batch.mapper.BatchMapper.updatePssionLedger */ 
		       TB_HBD_PSSION_BULD
		SET    FLOOR_GB_CD      = #{floorGbCd}
		       , FLOOR_GB_NM    = #{floorGbNm}
		       , DONG_NM        = #{dongNm}
		       , HO_NM          = #{hoNm}
		       , FLOOR_NO       = #{floorNo}
		       , CR_DE          = #{crde}
		       , UPDT_USER_NO   = #{mngrno}
		       , UPDT_DT        = NOW() 
		WHERE  BULD_REGSTR_PK   = #{buldRegstrPk}
	</update>
	
	<insert id="insertHbdBaseSummry" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertHbdBaseSummry */
		INTO   TB_HBD_BASE_SUMMRY (
			MNGR_REGSTR_PK, UPPER_REGSTR_PK, REGSTR_GB_CD, REGSTR_KD_CD
			, ARCD, LEGCD, BUN, JI
			, REGSTR_CR_DE
			, CR_DE
		) VALUES (
			#{mngrRegstrPk}
			, #{upperRegstrPk}
			, #{regstrGbCd}
			, #{regstrKdCd}
			, #{arcd}
			, #{legcd}
			, #{bun}
			, #{ji}
			, #{regstrCrde}
			, DATE_FORMAT(NOW(), '%Y%m%d')
		)
	</insert>
	
	<insert id="insertHbdBuld" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertHbdBuld */
		INTO   TB_HBD_BULD (
			BULD_REGSTR_PK, UPPER_REGSTR_PK, REGSTR_KD_CD
		) VALUES (
			#{mngrRegstrPk}
			, #{upperRegstrPk}
			, #{regstrKdCd}
		)
	</insert>
	
	<insert id="insertHbdAgBuld" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertHbdAgBuld */
		INTO   TB_HBD_AG_BULD (
			BULD_REGSTR_PK, UPPER_REGSTR_PK, REGSTR_KD_CD
		) VALUES (
			#{mngrRegstrPk}
			, #{upperRegstrPk}
			, #{regstrKdCd}
		)
	</insert>
	
	<insert id="insertHbdPssionBuld" parameterType="commonMap">
		INSERT /* homes.batch.mapper.BatchMapper.insertHbdPssionBuld */
		INTO   TB_HBD_PSSION_BULD (
			BULD_REGSTR_PK, UPPER_REGSTR_PK
		) VALUES (
			#{mngrRegstrPk}
			, #{upperRegstrPk}
		)
	</insert>
	
</mapper>
