<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.stuff.mapper.StuffMapper">

	<select id="selectRelatedJibunCount" parameterType="homes.stuff.vo.StuffVo" resultType="int">
		SELECT /* homes.stuff.mapper.StuffMapper.selectRelatedJibunCount 관련지번 포함여부 */
		       COUNT(SHTBDNO) AS HAS_RELJIBUN
		FROM   TB_HBD_LEDGR_MSTR_RELJIBUN A
		<if test="htbdno != null and htbdno != ''">
		WHERE  SHTBDNO = #{htbdno}
		</if>
		<if test="htbdno == null or htbdno ==''">
		WHERE  ARCD = #{arcd}
		AND    LEGCD = #{legcd}
		AND    BUNJIB = #{bun}
		</if>
	</select>

	<select id="selectBrkComplexList" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectBrkStuffList 중개사 물건 목록 */
		       STF.STUFFNO, STF.BRKNO, STF.HTBDNO
		       , STF.HPPSCD
		       , HPS.CODE_NM AS HPPSNM
		       , DATE_FORMAT(STF.CREAT_DT, '%Y.%m.%d') AS CRDE
		       , MST.ARCD, MST.LEGCD, MST.BDADDR
		       , MST.PPSCD
		       , PPS.PPS_NM
		       , MST.BULDNM, MST.HSHLDCO, MST.FMLYCO, MST.BULDCO
		       , HPS.FILLER_V1 AS BGCOLOR
		FROM   TB_BRK_BULD_STUFF         STF
		INNER  JOIN TB_HBD_LEDGR_MSTR    MST ON STF.HTBDNO = MST.HTBDNO
		INNER  JOIN TB_CM_COMMCODE       HPS ON HPS.MXTR_COMM_CD = STF.HPPSCD 
		INNER  JOIN TB_CM_REGSTR_PPSCODE PPS ON MST.PPSCD   = PPS.PPS_CD
		WHERE  OFFICENO = #{officeno}
	</select>
	
	<select id="selectBrkBlockList" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectBrkBlockList 단지내 포함된 동명조회 */
		       STF.STUFFNO
		       , STF.HTBDNO 
		       , LGR.HBDNO
		       , LGR.BULDGB
		       , LGR.BULDNM
		       , LGR.DONGNM
		       , CASE WHEN INSTR(LGR.DONGNM, '동') = 0 THEN 999999999999
		              ELSE CONVERT(SUBSTR(LGR.DONGNM, 1, INSTR(LGR.DONGNM, '동') -1), UNSIGNED) 
		         END  AS DONGNO 
		FROM   TB_BRK_BULD_STUFF STF
		INNER  JOIN TB_HBD_LEDGR LGR ON STF.HTBDNO = LGR.HTBDNO 
		WHERE  STF.HTBDNO = #{htbdno}
		AND    OFFICENO = #{officeno}
		ORDER  BY DONGNM ASC 
	</select>
	
	<select id="selectFloorCount" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectFloorCount 동별 총 층수, 총 호실 수 조회 */
		       BULDNO
		       , MAX(FLNO) AS FLOOR_CO 
		       , MAX(RMCO) AS ROOM_CO
		FROM   ( SELECT UPPER_REGSTR_PK AS BULDNO 
		                , FLOOR_GB_CD   AS FLGBCD
		                , FLOOR_NO      AS FLNO
		                , COUNT(1)      AS RMCO
		         FROM   TB_HBD_PSSION_BULD
		         WHERE  UPPER_REGSTR_PK = #{buldno}
		         AND    FLOOR_GB_CD = #{flgbcd} 
		         GROUP  BY UPPER_REGSTR_PK, FLOOR_GB_CD, FLOOR_NO
		       ) A
		GROUP BY BULDNO
	</select>
	
	<select id="selectFloorRoomList" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		WITH RECURSIVE TB_MAX_FLOOR AS (
		    SELECT 1 AS RN 
		    UNION ALL
		    SELECT RN + 1 FROM TB_MAX_FLOOR 
		    WHERE  RN <![CDATA[ < ]]> FN_GET_MAX_FLOOR( #{hbdno}, #{flgbcd}) 
		)
		, TB_FLOOR AS ( 
		    SELECT NVL(FLR.HBDNO , #{hbdno})    AS HBDNO 
		           , NVL(FLR.FLGBCD, #{flgbcd}) AS FLGBCD 
		           , MXF.RN                     AS RN 
		           , NVL(FLR.FLNO  , 0)         AS FLNO 
		    FROM   TB_MAX_FLOOR MXF
		    LEFT   JOIN ( SELECT FLR.HTBDNO, FLR.HBDNO
		                         , FLR.FLGBCD, FLR.FLNO
		                         FROM   TB_HBD_LEDGR_FLOOR  FLR
		                         WHERE  FLR.HBDNO  = #{hbdno} 
		                         AND    FLR.FLGBCD = #{flgbcd} 
		                ) FLR
		           ON MXF.RN = FLR.FLNO 
		) 
		, TB_ROOM AS ( 
		    SELECT PSN.HBDNO, PSN.FLNO
		           , GROUP_CONCAT(PSN.HPSNO   ORDER BY HPSNO   SEPARATOR '|') AS HPSNOS
		           , GROUP_CONCAT(PSN.HOSILNM ORDER BY HOSILNM SEPARATOR '|') AS HOSILNMS
		    FROM   TB_HBD_LEDGR_PSSION_AREA PSN
		    WHERE  PSN.HBDNO = #{hbdno} 
		    AND    PSN.FLGBCD = #{flgbcd} 
		    GROUP  BY PSN.HBDNO, PSN.FLNO
		    ORDER  BY PSN.HPSNO ASC 
		) 
		, TB_MAX_ROOM AS ( 
		    SELECT PSN.HBDNO
		           , 1           AS MIN_ROOMCO
		           , MAX(ROOMCO) AS MAX_ROOMCO
		    FROM   ( SELECT PSN.HBDNO, PSN.FLNO
		                    , COUNT(1) AS ROOMCO
		             FROM   TB_HBD_LEDGR_PSSION_AREA PSN
		             WHERE  PSN.HBDNO = #{hbdno} 
		             AND    PSN.FLGBCD = #{flgbcd} 
		             GROUP  BY PSN.HBDNO, PSN.FLNO
		           ) PSN
		    GROUP  BY PSN.HBDNO 
		) 
		SELECT FL.HBDNO, FL.FLGBCD, FL.RN
		       , NVL(RM.HPSNOS  , 'EMPTY') AS HPSNOS
		       , NVL(RM.HOSILNMS, 'EMPTY') AS HOSILNMS
		       , NVL(MR.MIN_ROOMCO,     0) AS MIN_ROOM_CO
		       , NVL(MR.MAX_ROOMCO,     0) AS MAX_ROOM_CO
		FROM   TB_FLOOR         FL
		LEFT   JOIN TB_ROOM     RM ON FL.FLNO  = RM.FLNO 
		LEFT   JOIN TB_MAX_ROOM MR ON FL.HBDNO = MR.HBDNO 
		<if test='"10".equals(flgbcd)'>
		ORDER  BY FL.RN ASC
		</if>  
		<if test='"20".equals(flgbcd)'>
		ORDER  BY FL.RN DESC
		</if> 
		<if test='"30".equals(flgbcd)'>
		ORDER  BY FL.RN ASC
		</if> 
	</select>
	
	<select id="selectStuffOwnerList" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectStuffOwnerList 중개사 물건 소유주 목록조회 */
		       A.STUFFNO       AS STUFFNO
		       , A.BULDNO      AS BULDNO
		       , A.CPLXNO      AS CPLXNO
		       , A.PSSIONNO    AS PSSIONNO
		       , B.FLOOR_GB_CD AS FLGBCD
		       , B.FLOOR_GB_NM AS FLGBNM
		       , B.DONG_NM     AS DONGNM
		       , B.FLOOR_NO    AS FLNO
		       , B.HO_NM       AS ROOMNM
		       , C.BRKNO       AS BRKNO 
		       , D.OWNO        AS OWNO
		       , D.OWSEQ       AS OWSEQ
		       , D.USERNO      AS USERNO
		       , D.STFFNM01    AS STFFNM01
		       , D.STFFNM02    AS STFFNM02
		       , D.OWNER_TY    AS OWNER_TY
		       , D.OWNERNM     AS OWNERNM
		       , D.CCB_CD      AS CCB_CD
		       , D.CTTPC       AS CTTPC
		       , C.SFSTTUS     AS SFSTTUS
		       , D.OWSTTUS     AS OWSTTUS
		FROM   TB_HBD_BULD_STUFF       A
		LEFT   JOIN TB_HBD_PSSION_BULD B ON ( A.BULDNO = B.BULD_REGSTR_PK AND A.PSSIONNO = B.UPPER_REGSTR_PK ) 
		LEFT   JOIN TB_BRK_BULD_STUFF  C ON ( A.STUFFNO = C.STUFFNO ) 
		LEFT   JOIN TB_BRK_BULD_OWNER  D ON ( A.STUFFNO = D.STUFFNO AND C.BRKNO = D.BRKNO ) 
		WHERE  A.BULDNO = #{buldno}
		AND    C.BRKNO = #{brkno}
	</select>
	
	<select id="selectBuldGroup" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectBuldGroup 집합건물 정보 조회 */
		       A.GBULDNO, A.BULDNO, A.BULD_REGSTR_PK
		       , A.BDADDR, A.BULDNM
		       , A.ARCD, A.LEGCD
		       , A.BUNJIB AS BUN
		       , A.BUNJIJ AS JI
		       , A.BULDCO, A.HSHLDCO, A.FMLYCO
		       , B.MAIN_PPS_CD   AS PPSCD
		       , B.ETC_PPS
		       , E.AR_FULL_NM    AS ARNAME 
		FROM   TB_HBD_BULD_GROUP          A
		INNER  JOIN TB_BD_TITLE_LEDGR_PPS B ON A.BULD_REGSTR_PK = B.BULD_REGSTR_PK
		INNER  JOIN TB_CM_COAREACODE      E ON A.ARCD = E.ARCODE AND A.LEGCD = E.LEGCODE 
		WHERE  A.ARCD = #{arcd} 
		AND    A.LEGCD = #{legcd}
		AND    A.BUNJIB = #{bun}
		AND    A.BUNJIJ = #{ji} 
		<if test="buldnm != null and buldnm !=''">
		AND    A.BULDNM = #{buldnm}
		</if>
		AND    E.USE_YN = 'Y'
		AND    E.ARLEVEL = 3
	</select>
	
	<select id="isBuldGroup" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.isBuldGroup 집합건물인지 확인한다. */
		       CASE WHEN COUNT(1) <![CDATA[ > ]]> 0 THEN 'Y' ELSE 'N' END AS CNDO_YN
		FROM   TB_HBD_BULD_GROUP A
		WHERE  A.ARCD = #{arcd} 
		AND    A.LEGCD = #{legcd}
		AND    A.BUNJIB = #{bun}
		AND    A.BUNJIJ = #{ji} 
		<if test="buldnm != null and buldnm !=''">
		AND    A.BULDNM = #{buldnm}
		</if>
	</select>
	
	<select id="selectPostcodeBuld" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectPostcodeBuld 다음주소검색을통한 건물조회 */
		       A.BULD_REGSTR_PK  AS BULDNO 
		       , A.PLOT_LOC      AS PLOT_LOC
		       , A.BULD_NM       AS BULDNM
		       , A.ARCD          AS ARCD
		       , A.LEGCD         AS LEGCD
		       , A.BUN           AS BUN
		       , A.JI            AS JI
		       , E.AR_FULL_NM    AS ARNAME 
		       , B.MAIN_PPS_CD   AS PPS_CD
		       , DATE_FORMAT(D.PRMISS_DE, '%Y.%m.%d') AS PRMISS_DE
		       , SUBSTR(D.PRMISS_DE, 1, 4) AS PRMISS_YY
		       , SUBSTR(D.PRMISS_DE, 5, 2) AS PRMISS_MM
		       , SUBSTR(D.PRMISS_DE, 7, 2) AS PRMISS_DD
		       , #{naverx}                 AS NAVERX /* 네이버 기준 (위도) */
		       , #{navery}                 AS NAVERY /* 네이버 기준 (경도) */
		       , #{kakaox}                 AS KAKAOX /* 카카오 기준 (경도) */
		       , #{kakaoy}                 AS KAKAOY /* 카카오 기준 (위도) */ 
		FROM   TB_BD_TITLE_LEDGR          A
		INNER  JOIN TB_BD_TITLE_LEDGR_PPS B ON A.BULD_REGSTR_PK = B.BULD_REGSTR_PK
		INNER  JOIN TB_BD_TITLE_LEDGR_PRMISS_DE D ON A.BULD_REGSTR_PK = D.BULD_REGSTR_PK
		INNER  JOIN TB_CM_COAREACODE            E ON ( A.ARCD = E.ARCODE AND A.LEGCD = E.LEGCODE ) 
		WHERE  A.ARCD = #{arcd} 
		AND    A.LEGCD = #{legcd}
		AND    A.BUN = #{bun}
		AND    A.JI = #{ji} 
		AND    E.USE_YN = 'Y'
		AND    E.ARLEVEL = 3
		<if test="buldnm != null and buldnm !=''">
		AND    A.BULD_NM = #{buldnm}
		</if>
		LIMIT  1
	</select>
	
	<select id="selectStuffPPscd" parameterType="string" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectStuffPPscd 부동산 용도코드 조회 */
		       PPS_CD, PPS_NM
		       , PPS_CD_01  , PPS_NM_01
		       , PPS_CD_02, PPS_NM_02
		       , PPS_CD_03, PPS_NM_03
		FROM   VW_PPS_CD
		WHERE  PPS_CD_03 = #{ppscd}
	</select>
	
	<select id="isExistsStuff" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.isExistsStuff 물건등록여부 확인 */
		       CASE WHEN COUNT(1) <![CDATA[ > ]]> 0 THEN 'Y' ELSE 'N' END AS IS_STUFF
		FROM   TB_HBD_BULD_STUFF
		WHERE  BULDNO = #{buldno}
		<if test="pssionno != null and pssionno != ''">
		AND    PSSIONNO = #{pssionno}
		</if>
	</select>
	<select id="selectHbdLedgr" parameterType="homes.stuff.vo.StuffVo" resultType="homes.api.buld.vo.TitleLedgrVo">
		SELECT /* homes.stuff.mapper.StuffMapper.selectHbdLedgr 통합DB(표제부) 등록정보 확인 */
		       A.HBDNO             AS HBDNO
		       , A.HTBDNO          AS HTBDNO
		       , A.BULD_REGSTR_PK  AS BREGSTR_PK
		       , A.BULDGB          AS BULDGB
		       , A.BDADDR          AS BDADDR
		       , A.RDADDR          AS RDADDR
		       , A.PPSCD           AS PPSCD
		       , A.PPSETCNM        AS PPSETCNM
		       , A.ESTCD           AS ESTCD
		       , A.CFMVGB          AS CFMVGB
		       , A.CONFDE          AS CONFDE
		       , A.MOVEINDE        AS MOVEINDE
		       , A.BULDNM          AS BULDNM
		       , A.DONGNM          AS DONGNM
		       , A.RIDNG_ELVTR_CO  AS RIDE_ELVTRCO
		       , A.GRNDCO          AS GRNDCO
		       , A.UNDERCO         AS UNDERCO
		FROM   TB_HBD_LEDGR A
		WHERE  A.BULDGB = #{buldgb}
		<if test="hasRelcount &gt; 0">
		AND    A.HTBDNO IN ( SELECT C.SHTBDNO  
		                     FROM   TB_HBD_LEDGR_MSTR_RELJIBUN      C
		                     INNER  JOIN TB_HBD_LEDGR_MSTR_RELJIBUN D ON C.MHTBDNO = D.MHTBDNO
		                     WHERE  D.SHTBDNO = #{htbdno}  )
		</if>
		<if test="hasRelcount == 0">
		AND    A.HTBDNO = #{htbdno}
		</if>
		ORDER  BY A.DONGNM ASC
	</select>
	<select id="selectTitleLedgrinfo" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectTitleLedgrinfo 통합DB(표제부) 등록정보 확인 */
		       A.BULD_REGSTR_PK AS LEDGRNO
		       , A.REGSTR_GB_CD AS BULD_TY
		       , A.PLOT_LOC     AS BDADDR
		       , A.ARCD         AS ARCD
		       , A.LEGCD        AS LEGCD
		       , A.BUN          AS BUNJIB
		       , A.JI           AS BUNJIJ
		FROM   TB_BD_TITLE_LEDGR A
		WHERE  A.ARCD = #{arcd}
		AND    A.LEGCD = #{legcd}
		AND    A.BUN = #{bun}
		AND    A.JI = #{ji}
		<if test="buldnm != null and buldnm !=''">
		AND    A.BULD_NM = #{buldnm}
		</if>
		LIMIT  1
	</select>
	<select id="selectHomesBuldinfo" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectHomesBuldinfo 홈즈DB(개별DB) 등록정보 확인 */
		       A.BULDNO           AS BULDNO
		       , A.BULD_REGSTR_PK AS LEDGRNO
		       , A.BULD_TY        AS BULD_TY
		       , A.BULD_CD        AS BULDCD
		       , A.BDADDR         AS BDADDR
		       , A.RDADDR         AS RDADDR
		       , A.BULDNM         AS BULDNM
		       , A.BLOCKNM        AS BLOCKNM
		       , A.HSHLDCO        AS HSHLDCO
		       , A.FMLYCO         AS FMLYCO
		       , A.DISP_YN        AS DISP_YN
		       , A.ARCD           AS ARCD
		       , A.LEGCD          AS LEGCD
		       , A.BUNJIB         AS BUNJIB
		       , A.BUNJIJ         AS BUNJIJ
		FROM   TB_HBD_BULD A
		WHERE  A.ARCD = #{arcd}
		AND    A.LEGCD = #{legcd}
		AND    A.BUNJIB = #{bun}
		AND    A.BUNJIJ = #{ji}
		<if test="buldnm != null and buldnm !=''">
		AND    A.BULDNM = #{buldnm}
		</if>
		LIMIT  1 
	</select>
	
	<select id="createStuffno" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.createStuffno 물건번호 신규채번 */
		       CONCAT('SF', LPAD(NVL(MAX(REPLACE(STUFFNO, 'SF', '')), 0) + 1, 20, '0')) AS STUFFNO 
		FROM   TB_HBD_BULD_STUFF 
	</select>
	<select id="getStuffno" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.getStuffno 물건번호조회 */
		       STUFFNO
		FROM   TB_HBD_BULD_STUFF 
		WHERE  BULDNO = #{buldno}
		<if test="pssionno != null and pssionno != ''">
		AND    PSSIONNO = #{pssionno}
		</if>
		LIMIT  1
	</select>
	
	<select id="isExistsOwner" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.isExistsOwner 소유주 존재여부 확인 */
		       NVL(MAX(OWNO), '000') AS OWNO
		       , COUNT(1)            AS OWSEQ 
		FROM   TB_BRK_BULD_OWNER
		WHERE  BRKNO = #{brkno}
		AND    STUFFNO = #{stuffno} 
	</select>
	
	<select id="createOwno" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.createOwno 소유주번호 신규채번 */
		       CONCAT('OW', LPAD(NVL(MAX(REPLACE(OWNO, 'OW', '')), 0) + 1, 20, '0')) AS STUFFNO 
		FROM   TB_BRK_BULD_OWNER 
	</select>
	
	<select id="selectBrkStuff" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectBrkStuff 중개사 물건목록조회 */
		       A.STUFFNO, A.BULDNO, A.CPLXNO, A.PSSIONNO 
		       , B.BRKNO, B.SFSTTUS 
		FROM   TB_HBD_BULD_STUFF      A
		INNER  JOIN TB_BRK_BULD_STUFF B ON A.STUFFNO = B.STUFFNO 
		WHERE  B.BRKNO = #{brkno} 
		AND    A.BULDNO = #{buldno} 
	</select>
	
	<select id="getHtbdno" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.getHtbdno HTBDNO 채번 */
               CONCAT('HTB', LPAD(#{buldgb}, 2, '0'), #{arcd}, #{legcd}
                           , LPAD(NVL(MAX(SUBSTR(A.HTBDNO, 15)), 0) + 1, 7, '0')) AS HTBDNO
		FROM   TB_HBD_BASE_SUMMRY A
		WHERE  BULDGB = #{buldgb}
		AND    ARCD = #{arcd}
		AND    LEGCD = #{legcd}  
	</select>
	<select id="getBuldno" parameterType="homes.stuff.vo.StuffVo" resultType="string">
		SELECT /* homes.stuff.mapper.StuffMapper.getBuldno BULDNO 채번 */
		       CONCAT('HBD', LPAD(COUNT(1) + 1, 30, '0')) AS BULDNO
		FROM   TB_HBD_LEDGR
		WHERE  ARCD = #{arcd}
		AND    LEGCD = #{legcd}
		AND    BUNJIB = #{bun}
		AND    BUNJIJ = #{ji}
	</select>
	
	<select id="getHbdTitleLedgrCount" parameterType="homes.stuff.vo.StuffVo" resultType="int">
		SELECT /* homes.stuff.mapper.StuffMapper.getHbdTitleLedgrCount 표제부 등록여부 확인 */
		       COUNT(1) AS CNT 
		FROM   TB_HBD_TITLE_LEDGR 
		WHERE  ARCD = #{arcd}
		AND    LEGCD = #{legcd}
		AND    BUNJIB = #{bun}
		AND    BUNJIJ = #{ji}
	</select>
	
	<select id="selectMasterbunji" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectMasterbunji 대표지번 조회 */ 
		       ARCODE
		       , CONCAT(ARNAME_1, ' ', ARNAME_2, ' ', ARNAME_3, ' ', NVL(ARNAME_4, ''), ' ') AS ARNAME
		       , BUNJIB      AS BUNJIB
		       , '0000'      AS BUNJIJ
		       , RDCODE      AS RDCODE
		       , RD_MAIN_BUN AS RD_MAIN_BUN 
		FROM   TB_RD_RDMASTER_JIBUN
		WHERE  ARCODE = #{arcode}
		AND    BUNJIB = #{bun}
		AND    RD_MAIN_BUN = #{rdmainb}
	</select>
	
	<select id="selectRelatedbunji" parameterType="homes.stuff.vo.StuffVo" resultType="commonMap">
		SELECT /* homes.stuff.mapper.StuffMapper.selectRelatedbunji 관련지번 조회 */ 
		       ARCODE
		       , CONCAT(ARNAME_1, ' ', ARNAME_2, ' ', ARNAME_3, ' ', NVL(ARNAME_4, ''), ' ') AS ARNAME
		       , BUNJIB      AS BUNJIB
		       , BUNJIJ      AS BUNJIJ
		       , RDCODE      AS RDCODE
		       , RD_MAIN_BUN AS RD_MAIN_BUN 
		FROM   TB_RD_RDRELATE_JIBUN
		WHERE  ARCODE = #{arcode}
		AND    BUNJIB = #{bun}
		AND    RDCODE = #{rdcode}
		AND    RD_MAIN_BUN = #{rdmainb}
	</select>
	
	<select id="selectHbdRegstrMaster" parameterType="homes.stuff.vo.StuffVo" resultType="homes.api.buld.vo.RecapLedgrVo">
		SELECT /* homes.stuff.mapper.StuffMapper.selectHbdRegstrMaster 홈즈_관리대장_총괄표제부 조회 */
		       A.HTBDNO, C.SHTBDNO, A.BULDGB, A.ARCD, A.LEGCD, A.BUNJIB, A.BUNJIJ
		       , A.BULDNM, A.BDADDR, A.RDADDR
		       , A.BULD_REGSTR_PK
		       , A.PPSCD, A.PPSETCNM, A.ESTCD
		       , A.HSHLDCO, A.FMLYCO, A.BULDCO, A.BULDSUBCO, A.HOSILCO, A.PARKNGCO
		       , A.RDCODE, A.RDLEGCD, A.UNDER_AT
		       , A.TOTAL_AR, A.SUPPLY_AR, A.PLAT_AR, A.BULD_AR, A.BULK_CALC_TOT_AR
		       , A.BULD_LND_RT, A.BULK_RT, A.CRDE
		       , B.CODE_NM   AS ESTNM
		       , A.RD_MAIN_BUN AS RDMBUN
		       , A.RD_SUB_BUN  AS RDSBUN
		       , ( SELECT AR_FULL_NM FROM TB_CM_COAREACODE AR WHERE AR.ARCODE = A.ARCD AND AR.LEGCODE = A.LEGCD ) AS ARNAME
		       , ( SELECT COUNT(1) FROM TB_HBD_LEDGR B WHERE A.HTBDNO = B.HTBDNO ) AS BULDCO 
		       , ( SELECT MAX(GRNDCO) FROM TB_HBD_LEDGR B WHERE A.HTBDNO = B.HTBDNO )  AS GRNDCO 
		       , ( SELECT MAX(UNDERCO) FROM TB_HBD_LEDGR B WHERE A.HTBDNO = B.HTBDNO ) AS UNDERCO
		FROM   TB_HBD_LEDGR_MSTR  A
		LEFT   JOIN TB_CM_COMMCODE B ON A.ESTCD = B.MXTR_COMM_CD
        LEFT   JOIN TB_HBD_LEDGR_MSTR_RELJIBUN C ON A.HTBDNO = C.SHTBDNO 
		WHERE  A.ARCD = #{arcd}
		AND    A.LEGCD = #{legcd} 
		AND    A.BUNJIB = #{bun}
		AND    ( C.MBUNJIJ = #{ji} OR C.BUNJIJ = #{ji} ) 
		AND    A.USE_YN = 'Y' 
	</select>
	
	<select id="getLedgrCount" parameterType="homes.stuff.vo.StuffVo" resultType="int">
		SELECT /* homes.stuff.mapper.StuffMapper.getLedgrCount 홈즈_관리대장_표제부 카운트 */
		       COUNT(1) AS LEDGR_CNT
		FROM   TB_HBD_LEDGR 
		WHERE  ARCD = #{arcd}
		AND    LEGCD = #{legcd} 
		AND    BUNJIB = #{bun}
		<if test="ji != null and ji != ''">
		AND    BUNJIJ = #{ji}
		</if>
		<if test="useYn != null and useYn != ''">
		AND    USE_YN = #{useYn}
		</if> 
	</select>
	
	<insert id="insertHbdRegstrMaster" parameterType="homes.api.buld.vo.RecapLedgrVo">
		INSERT INTO /* homes.stuff.mapper.StuffMapper.insertHbdRegstrMaster 홈즈_관리대장_총괄표제부 등록 */ 
		TB_HBD_LEDGR_MASTER (
			HTBDNO, BULDGB, ARCD, LEGCD, BUNJIB, BUNJIJ, BULDNM,
			BULD_REGSTR_PK, BDADDR, RDADDR, PPSCD, PPSETCNM,
			HSHLDCO, FMLYCO, BULDCO, BULDSUBCO,
			ROOMCO, PARKNGCO, PLATGB, RDCODE, RDLEGCD, UNDER_AT,
			RD_MAIN_BUN, RD_SUB_BUN, TOTAL_AR, SUPPLY_AR, PLAT_AR, BULD_AR, BULK_CALC_AR,
			BULD_LND_RT, BULK_RT, CRDE,
			USE_YN, BATCH_YN, CREAT_USER_NO, UPDT_USER_NO
		) VALUES (
			#{htbdno}, 
			#{buldgb}, 
			#{arcd}, 
			#{legcd}, 
			#{bunjib}, 
			#{bunjij}, 
			#{buldnm}, 
			#{buldRegstrPk}, 
			#{bdaddr}, 
			#{rdaddr}, 
			#{ppscd}, 
			#{ppsetcnm}, 
			#{hshldco}, 
			#{fmlyco}, 
			#{buldco}, 
			#{buldsubco}, 
			#{roomco}, 
			#{parkngco}, 
			#{platgb}, 
			#{rdcode}, 
			#{rdlegcd}, 
			#{underAt}, 
			#{rdMainBun}, 
			#{rdSubBun}, 
			#{totalAr}, 
			#{supplyAr}, 
			#{platAr}, 
			#{buldAr}, 
			#{bulkCalcAr}, 
			#{buldLndRt}, 
			#{bulkRt}, 
			#{crde}, 
			#{useYn}, 
			#{batchYn}, 
			#{brkno}, 
			#{brkno}
		) 
	</insert>
	
	<insert id="insertHbdLedgr" parameterType="homes.api.buld.vo.TitleLedgrVo">
		INSERT INTO /* homes.stuff.mapper.StuffMapper.insertHbdLedgr 홈즈_관리대장_표제부 등록 */ 
		TB_HBD_LEDGR (
			BULDNO, HTBDNO, BULD_REGSTR_PK
			, BULDGB, ARCD, LEGCD, BUNJIB, BUNJIJ, BULDNM
			, BDADDR, RDADDR, PPSCD, PPSETCNM
			, CFMVGB, CNFMDE, MOVEINDE, RIDE_ELVTCO, EMGR_ELVTCO, FLGROUND, FLUNDER
			, HSHLDCO, FMLYCO, PLATGB, RDCODE, RDLEGCD, UNDER_AT
			, RD_MAIN_BUN, RD_SUB_BUN
			, TOTAL_AR, SUPPLY_AR, PLAT_AR, BULD_AR, CRDE
			, USE_YN, BATCH_YN, CREAT_USER_NO, UPDT_USER_NO
		) VALUES (
		    #{buldno},
			#{htbdno}, 
			#{bregstrPk},
			#{buldgb}, 
			#{arcd}, 
			#{legcd}, 
			#{bunjib}, 
			#{bunjij}, 
			#{buldnm}, 
			#{bdaddr}, 
			#{rdaddr}, 
			#{ppscd}, 
			#{ppsetcnm}, 
			#{cfmvgb},
			#{confde},
			#{moveinde},
			#{rideElvtrco},
			#{emgrElvtrco},
			#{flgroundco},
			#{flunderco},
			#{hshldco}, 
			#{fmlyco}, 			
			#{platgb}, 
			#{rdcode}, 
			#{rdlegcd}, 
			#{underAt}, 
			#{rdMainBun}, 
			#{rdSubBun}, 
			#{totalAr}, 
			#{supplyAr}, 
			#{platAr}, 
			#{buldAr},
			#{crde}, 
			#{useYn}, 
			#{batchYn}, 
			#{brkno}, 
			#{brkno}
		) 
	</insert>
	
	<insert id="insertHbdStuff" parameterType="homes.stuff.vo.StuffVo">
		INSERT INTO /* homes.stuff.mapper.StuffMapper.insertHbdStuff 물건등록 */ 
		TB_HBD_BULD_STUFF (
			STUFFNO, BULDNO, CPLXNO, PSSIONNO, CREAT_USER_NO, UPDT_USER_NO  
		) VALUES (
			#{stuffno}
			, #{buldno}
			, #{cplxno}
			, #{pssionno}
			, #{brkno}
			, #{brkno}
		)
	</insert>
	<insert id="insertBrkStuff" parameterType="homes.stuff.vo.StuffVo">
		INSERT INTO /* homes.stuff.mapper.StuffMapper.insertBrkStuff 중개사 물건등록 */ 
		TB_BRK_BULD_STUFF (
			BRKNO, STUFFNO, SFSTTUS, CREAT_USER_NO, UPDT_USER_NO
		) VALUES (
			#{brkno}
			, #{stuffno}
			, #{sfsttus}
			, #{brkno}
			, #{brkno}
		)
	</insert>
	<insert id="insertBrkOwner" parameterType="homes.stuff.vo.StuffVo">
		INSERT /* homes.stuff.mapper.StuffMapper.insertBrkOwner 소유주 등록 */
		INTO   TB_BRK_BULD_OWNER (
			OWNO, OWSEQ, BRKNO, USERNO, STUFFNO, STFFNM01, STFFNM02
			, OWNER_TY, OWNERNM, CCB_CD, CTTPC, OWSTTUS
			, CREAT_USER_NO, UPDT_USER_NO
		) VALUES (
			#{owno}
			, #{owseq}
			, #{brkno}
			, #{userno}
			, #{stuffno}
			, #{stffnm01}
			, #{stffnm02}
			, #{ownerTy}
			, #{ownernm}
			, #{ccbCd}
			, #{cttpc}
			, #{owsttus}
			, #{brkno}
			, #{brkno}
		)
	</insert>
	
	<delete id="deleteBrkStuff" parameterType="homes.stuff.vo.StuffVo">
		DELETE /* homes.stuff.mapper.StuffMapper.deleteBrkStuff 중개사 물건삭제 */
		FROM   TB_BRK_BULD_STUFF
		WHERE  BRKNO = #{brkno}
		AND    STUFFNO = #{stuffno}
	</delete>
	
	<update id="updateBrkStuffSttus" parameterType="homes.stuff.vo.StuffVo">
		UPDATE /* homes.stuff.mapper.StuffMapper.deleteBrkStuff 중개사 물건 상태변경 */
		TB_BRK_BULD_STUFF
		SET    SFSTTUS = #{sfsttus}
		WHERE  BRKNO = #{brkno}
		AND    STUFFNO = #{stuffno}
	</update>
	
	<update id="updateBrkOwner" parameterType="homes.owner.vo.OwnerVo">
		UPDATE /* homes.stuff.mapper.StuffMapper.updateBrkOwner 소유주 수정 */
		TB_BRK_BULD_OWNER
		SET    UPDT_USER_NO = #{brkno}
		       , UPDT_DT = NOW()
		<if test="userno != null and userno != ''">
		       , USERNO = #{userno}
		</if>
		<if test="cntcpersnYn != null and cntcpersnYn != ''">
		       , CNTC_PERSN_YN = #{cntcpersnYn}
		</if>
		       , OWNER_TY = #{ownerTy}
		       , OWNERNM = #{ownernm}
		       , CCB_CD = #{ccbCd}
		       , CTTPC = #{cttpc}
		       , STFFNM01 = #{stffnm01}
		       , STFFNM02 = #{stffnm02}
		WHERE  OWNO = #{owno}
		AND    OWSEQ = #{owseq}
		AND    BRKNO = #{brkno}
	</update>
	
	<update id="deleteBrkOwner" parameterType="homes.stuff.vo.StuffVo">
		UPDATE /* homes.stuff.mapper.StuffMapper.deleteBrkOwner 소유주 삭제 */
		TB_BRK_BULD_OWNER
		SET    USERNO = 0
		       , OWNER_TY = ''
		       , OWNERNM = ''
		       , CCB_CD = ''
		       , CTTPC = ''
		       , CNTC_PERSN_YN = 'N'
		       , OWSTTUS = 'T'
		       , UPDT_USER_NO = #{brkno}
		       , UPDT_DT = NOW()
		WHERE  OWNO = #{owno}
		AND    OWSEQ = #{owseq}
		AND    BRKNO = #{brkno}
	</update>
</mapper>
