<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="homes.comm.mapper.CommonMapper">

	<select id="selectSidoCode" parameterType="string" resultType="commonMap">
		SELECT /* homes.common.mapper.CommonMapper.selectSidoCode 시도지역조회 */
		       SDCODE, AR_FULL_NM AS ARNAME
		FROM   TB_CM_COAREACODE A
		WHERE  SDCODE = #{sdcode}
		AND    ARLEVEL = 1
		AND    USE_YN = 'Y'
	</select>
	<select id="selectSggCode" parameterType="string" resultType="commonMap">
		SELECT /* homes.common.mapper.CommonMapper.selectSggCode 시군구지역조회 */
		       SDCODE, SGGCODE
		       , ARNAME
		FROM   TB_CM_COAREACODE A
		WHERE  SDCODE = #{sdcode}
		AND    ARLEVEL = 2
		AND    USE_YN = 'Y'
	</select>
	
	<select id="selectArCode" parameterType="string" resultType="commonMap">
		SELECT /* homes.common.mapper.CommonMapper.selectArCode 지역조회 */
		       AREACODE, ARCODE, LEGCODE, AR_FULL_NM, ARNAME, SDCODE, SGGCODE
		       , CONCAT(EMDCODE, RICODE) AS EMDCODE
		       , ( SELECT AR_FULL_NM FROM TB_CM_COAREACODE WHERE SDCODE = A.SDCODE AND ARLEVEL = 1 AND USE_YN = 'Y' ) AS SDNAME
		       , ( SELECT ARNAME 
				     FROM   TB_CM_COAREACODE
					  WHERE  SDCODE = A.SDCODE
					  AND    SGGCODE = A.SGGCODE
					  AND    ARLEVEL = 2
					  AND    USE_YN = 'Y' )                AS SGGNAME
		       , ( SELECT ARNAME 
				     FROM   TB_CM_COAREACODE
					  WHERE  SDCODE = A.SDCODE
					  AND    SGGCODE = A.SGGCODE
					  AND    EMDCODE = A.EMDCODE
					  AND    ARLEVEL = 3
					  AND    USE_YN = 'Y' )                AS EMDNAME
		FROM   TB_CM_COAREACODE A
		WHERE  AREACODE = #{areacode}
		AND    ARLEVEL = 3 
		AND    USE_YN = 'Y' 
	</select>

    <select id="selectSidoList" parameterType="commVo" resultType="commonMap">
		SELECT /* homes.common.mapper.CommonMapper.selectSidoList 시도목록 조회 */
    	       AREACODE, ARCODE, SDCODE, AR_FULL_NM AS ARNAME
		FROM   TB_CM_COAREACODE A
		WHERE  ARLEVEL = 1
		AND    USE_YN = 'Y'
		ORDER  BY ORDR ASC 
    </select>
    
    <select id="selectSggList" parameterType="string" resultType="commonMap">
    	SELECT /* homes.common.mapper.CommonMapper.selectSggList 시군구 조회 */ 
    	       AREACODE, SDCODE
    	       , ( SELECT AR_FULL_NM FROM TB_CM_COAREACODE 
    	           WHERE SDCODE = A.SDCODE AND ARLEVEL = 1 AND USE_YN = 'Y' ) AS SDNAME
    	       , ARCODE
    	       , ARNAME
		FROM   TB_CM_COAREACODE A
		WHERE  SDCODE = #{sdcode}
		AND    ARLEVEL = 2
		AND    USE_YN = 'Y'
		ORDER  BY AREACODE ASC
    </select>
    
    <select id="selectEmdList" parameterType="string" resultType="commonMap">
    	SELECT /* homes.common.mapper.CommonMapper.selectEmdList 읍면동 조회 */ 
    	       AREACODE
    	       , SDCODE
    	       , ( SELECT AR_FULL_NM FROM TB_CM_COAREACODE 
    	           WHERE SDCODE = A.SDCODE AND ARLEVEL = 1 AND USE_YN = 'Y' ) AS SDNAME
    	       , ARCODE  AS SGGCODE
    	       , ( SELECT ARNAME FROM TB_CM_COAREACODE 
    	           WHERE ARCODE = A.ARCODE AND ARLEVEL = 2 AND USE_YN = 'Y' ) AS SGGNAME
    	       , ARCODE
    	       , LEGCODE
    	       , ARNAME
		FROM   TB_CM_COAREACODE A
		WHERE  ARCODE = #{arcode}
		AND    ARLEVEL = 3
		AND    USE_YN = 'Y'
		ORDER  BY AREACODE ASC
    </select>
    
    <select id="selectFileLastid" parameterType="long" resultType="long">
    	SELECT /* homes.security.mapper.CommonMappe.selectFileLastid */
		       LAST_INSERT_ID()
		FROM   DUAL 
    </select>
    
    <select id="getLastfileno" parameterType="long" resultType="java.lang.Long">
    	SELECT /* homes.common.mapper.CommonMappe.getLastfileno */
    	       MAX(FILENO) AS FILENO 
		FROM   TB_CM_COMMFILE
		WHERE  USERNO = #{userno}
    </select>
    
    <select id="getCommCodeList" parameterType="string" resultType="commonMap">
    	SELECT /* homes.common.mapper.CommonMappe.commonMap */
    	       MXTR_COMM_CD AS COMMCD
    	       , CODE_NM    AS CODENM
    	FROM   TB_CM_COMMCODE
    	WHERE  GRP_CD = #{grpcd}
    	AND    USE_YN = 'Y'
    	AND    UPPER_CD IS NOT NULL 
    	AND    UPPER_CD != '' 
    	ORDER  BY CD_ORDR
    </select>
    
    <insert id="addfile" parameterType="fileVo">
    	INSERT INTO /* homes.common.mapper.CommonMappe.addfile */
		TB_CM_COMMFILE (
			USERNO
			, FILEPATH
			, FILESVNM
			, FILEORGNM
			, FILE_TY
			, FILESIZE
			, CREAT_USER_NO
			, CREAT_DT
			, UPDT_USER_NO
			, UPDT_DT 
    	) VALUES (
    		#{userno}
    		, #{fpath}
    		, #{fsvname}
    		, #{forgname}
    		, #{ftype}
    		, #{fsize}
    		, #{userno}
    		, NOW()
    		, #{userno}
    		, NOW()
    	)
    </insert>
    
</mapper>
